@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,500;0,700;1,300;1,500;1,700&display=swap');

:root {
    --main-background: #181818;
    --secondary-background: #242424;
    --main-text: #fff;
    --secondary-text: #F2D13E;
}

* {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0;
    padding-inline-end: 0;
    padding-block-start: 0;
    padding-block-end: 0;
    font-family: 'Open Sans', sans-serif;
    color: var(--main-text);
}

html, body {
    padding: 0;
    margin: 0;
    background: no-repeat fixed 30%/cover url(/static/img/background.jpg);
    color: var(--main-text);
    font-family: 'Open Sans', serif;
}

header {
    position: sticky;
    z-index: 10;
    top: 0;
    left: 0;
    height: 5vh;
    background-color: var(--main-background);
}

nav {
    height: 100%;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    list-style: none;
    height: 100%;
}

nav ul li {
    flex-grow: 1;
}

nav a {
    width: 100%;
    height: 100%;
}

a button {
    width: 100%;
    height: 100%;
    background-color: var(--secondary-background);
    font-size: 1em;
    font-weight: 500;
    border: none;
    transition: all 0.15s ease-out;
}

a button:hover {
    filter: brightness(1.3);
}

a button:active {
    filter: none;
    color: var(--secondary-text);
    background-color: var(--main-background);
    transform: scale(0.94);
}

.banner-top {
    width: 100%;
    height: 70vh;
    object-fit: cover;
}

.games section {
    display: grid;
    row-gap: 5vh;
    column-gap: 3vw;
    margin: 10vh 10vw 0;
    }

@media (min-aspect-ratio: 100/175) {
    .games section {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-aspect-ratio: 10/8) {
    .games section {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-aspect-ratio: 8/10) {
    .games section {
        grid-template-columns: 1fr;
    }
}

div.game-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.games section img {
    height: 35vh;
    width: 100%;
    object-fit: cover;
    transition: all 0.15s ease-in;
}

.games section img:hover {
    transform: scale(1.06);
}

.game-card .container {
    padding: 1vh 1vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.game-card h3 {
    color: var(--secondary-text);
}

.game-card .container a {
    height: 5vh;
}

.game-card .container a button {
    background-color: var(--secondary-text);
    border-radius: 5px;
    color: var(--main-background);
}

.game-card .container a button:hover {
    filter: brightness(0.8);
}