<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a><button>Main</button></a></li>
                <li><a><button>Page</button></a></li>
                <li><a><button>Another link</button></a></li>
                <li><a><button>Cart</button></a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="intro"></div>
        <div class="games">
            <section>

            </section>
        </div>
        <div class="news"></div>
    </main>
    <footer>

    </footer>
</body>
</html>