<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>Document</title>
</head>
<body>
    {% include 'header.html' with context %}
    <main>
        <div class="intro">
            <img src="{{ url_for('static', filename='img/banner.jpg') }}" class="banner-top">
        </div>
        <div class="search"></div>
        <!-- payment button-->
        <iframe src="https://yoomoney.ru/quickpay/fundraise/button?billNumber=K88p2gHYpe0.230315&" width="330" height="50" frameborder="0" allowtransparency="true" scrolling="no"></iframe>
        <div class="games">
            <section>
                {% for i in range(1,10) %}
                    <div class="game-card">
                        <img src="{{ url_for('static', filename='img/game' ~ i ~ '.jpg') }}" alt="">
                        <div class="container">
                            <h3>Name</h3>
                            <p>Rating: 8/10</p>
                            <p>Genre: action</p>
                            <p>Tags: relaxing, shooting, furry</p>
                            <br>
                            <a><button>Show more</button></a>
                        </div>
                    </div>
                {% endfor %}
            </section>
        </div>
        <div class="news"></div>
    </main>
    <footer>

    </footer>
</body>
</html>